@import "tailwindcss";

html,
body {
  height: 100%;
}
html {
  overflow: clip;
}
body {
  overflow: auto;
}

@theme {
  --color-white: hsl(0 0% 100%);
  --color-offblack: hsl(24 5% 6%);
  --color-gray-100: hsl(40 12% 95%);
  --color-gray-300: hsl(35 8% 80%);
  --color-gray-500: hsl(30 4% 60%);
  --color-gray-700: hsl(28 5% 40%);
  --color-gray-900: hsl(24 6% 16%);
  --color-primary: hsl(224 30% 40%);
  --color-secondary: hsl(180 34% 37%);
  --color-urgent: hsl(0 55% 54%);
}

@utility border-bottom-alinged {
  &:not(:last-of-type) {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-gray-300);
  }
}

@utility border-top-alinged {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid var(--color-gray-300);
}

@utility border-left {
  /* tablet size and up ,48*16px =768px */
  @media (min-width: 48rem) {
    border-left: solid 1px var(--color-gray-300);
    padding-left: 16px;
    margin-left: 16px;
  }
}

@utility marketDropShadow {
  box-shadow: 2px 4px 12px 0 rgb(0 0 0 / 0.1);
}

@utility marketStoriesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  gap: 16px;
}

@utility footballStoriesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  gap: 16px;
  width: 100%;

  /* tablet size and up 48*16px =768px */
  @media (min-width: 48rem) {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
}

@utility footerLinksResponsiveGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(193px, 1fr));
  gap: 32px;
}

@utility opinionSectionResponsiveGrid {
  display: flex;
  flex-direction: column;

  /* tablet size and up 48*16px =768px */
  @media (min-width: 48rem) {
    flex-direction: row;
    gap: 32px;
  }

  @media (min-width: 64rem) {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}

@utility opinionItemResponsiveGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 21px;
  width: 100%;

  /* tablet size and up 48*16px =768px */
  @media (min-width: 48rem) {
    display: flex;
    flex-direction: column;
    gap-row: 21px;
  }

  /* 
  laptop size. 64*16 1024px 
  */
  @media (min-width: 64rem) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 21px;
  }
}

/* very handly font family utitlies as this application is using three fonts. */
@utility apply-chomsky {
  font-family: var(--chomsky);
}

@utility apply-helvetica {
  font-family: var(--helvetica);
}
